SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}


/* 标签 */
QLabel#settingLabel {
    font: 25px 'Microsoft YaHei Bold';
    background-color: transparent;
}
